*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #00385a;
    color: #fff;
}

.container{
    margin: 150px auto;
    max-width: 700px;
    width: 90%;
}

.display{
    width: 100%;
    margin: 50px 0 30px 0;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.container h1{
    font-size: 45px;
    font-weight: 500;
}

.container h1.second-line{
    color:  rgb(139, 137, 255);
    border-bottom: 4px solid  rgb(255, 255, 255);
    padding: 10px 0 10px 0 ;
}

.display input{
    border: none;
    outline: none;
    font-size: 24px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.container button img{
    width: 28px;
    margin-right: 10px;
    color: #fff;
}

.container button{
    border: 0;
    outline: 0;
    background: rgb(139, 137, 255);
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

